<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
      layout:decorator="layout">

<head>
    <title>Contact List</title>
    <script th:src="@{/js/jquery.searchable.js}"></script>
</head>

<body>
<div layout:fragment="content">
    <div class="container">
        <div class="table">
            <input type="search" id="search" value="" class="form-control" placeholder="Search..."/>
            <table class="active table table-striped" id="table">
                <thead>
                <tr class="success">
                    <!--<th>Id</th>-->
                    <th><a th:href="@{/posts}">FirstName</a></th>
                    <th>Last name</th>
                    <th>Middle name</th>
                    <th>Mobile number</th>
                    <th>Home number</th>
                    <th>Address</th>
                    <th>Email</th>
                    <th></th>
                    <th></th>
                </tr>
                </thead>
                <tbody>

                <tr data-th-each="contacts : ${contacts}">
                    <!--<td data-th-text="${contacts.getIdForXml()}"></td>-->
                    <td class="message" data-th-text="${contacts.getFirstName()}"></td>
                    <td data-th-text="${contacts.getLastName()}"></td>
                    <td data-th-text="${contacts.getMiddleName()}"></td>
                    <td data-th-text="${contacts.getMobile_number()}"></td>
                    <td data-th-text="${contacts.getHome_number()}"></td>
                    <td data-th-text="${contacts.getAddress()}"></td>
                    <td data-th-text="${contacts.getEmail()}"></td>
                    <td class="danger">
                        <a th:href="@{'/data/{id}/delete'(id=${contacts.getId()})}" class="delete"
                           th:attr="name=${contacts.getFirstName()} " data-toggle="tooltip"
                           data-placement="top" title="Delete contact">
                        <span class="fa-stack">
                            <i class="glyphicon glyphicon-trash"></i>
                        </span>
                        </a>
                    </td>

                    <td class="danger">
                        <a th:href="@{'/data/{id}/edit'(id=${contacts.getId()})}" class="edit"
                           th:attr="name=${contacts.getFirstName()}" data-toggle="tooltip"
                           data-placement="top" title="Edit contact">
                    <span class="fa-stack">
                        <i class="glyphicon glyphicon-edit"></i>
                    </span>

                        </a>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
        <div class="well well-sm">
            <a class="btn btn-primary" href="/data/new"><span class="glyphicon glyphicon-plus"> New contact</span></a>
        </div>
    </div>
    <div class="footer">
        <h5>Developted by Karpov Vladimir, 2016</h5>
    </div>

    <script>
        $(document).ready(function () {
            $('[data-toggle="tooltip"]').tooltip();
        });
    </script>
    <!--For search string where 'table' - element id -->
    <script>$('#table').searchable();</script>
</div>
</body>
</html>