body {
    padding-top: 40px;
    padding-bottom: 40px;
    background-color: #eee;
}

.td-padding td {
}

.td-padding label {
    float: right;
    margin-top: 5px;
    margin-bottom: 5px;
    text-align: left;
}

.form-signin {
    max-width: 350px;
    padding: 15px;
    border-radius: 30px;
    margin: 0 auto;

}

.register-title {
    text-align: center;
}

.modal-body-height {
    height: 400px;
}

.form-signin .form-signin-heading h2 {

    text-align: center;
}

.form-signin .checkbox {
    /*margin-bottom: 10px;*/
}

.form-signin .checkbox {
    margin-left: 25px;
    font-weight: normal;
}

.form-signin .form-control {
    position: relative;
    height: auto;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 10px;
    font-size: 16px;
}

.form-signin .form-control:focus {
    z-index: 2;
}

.form-signin h2 {
    font-size: 20px;
    text-align: center;

}


.form-signin button {
    text-align: center;
    /*font-size: 15px;*/
    width: 46%;
    /*height: 45px;*/
    float: left;
}

.form-signin #singin_login {
    text-align: center;
    /*font-size: 15px;*/
    width: 46%;
    /*height: 45px;*/
    /*float: left;*/
}

.form-signin #reg_button {
    text-align: center;
    /*font-size: 15px;*/
    width: 46%;
    /*height: 45px;*/
    float: right;
    margin-bottom: 20px;

}

.form-signin #cancel_button {
    text-align: center;
    /*font-size: 15px;*/
    width: 46%;
    /*height: 45px;*/
    float: right;
    margin-left: 20px;
    margin-bottom: 20px;
}

.form-signin button[id="login"] {
    float: right;
}

.form-signin [id="alert1"] {
    font-size: 10px;
    height: 30px;
    width: 120px;
    text-align: center;
    padding: 5px;
}

.form-signin [id="alert2"] {
    font-size: 10px;
    height: 30px;
    width: 120px;
    text-align: center;
    padding: 5px;
}

.form-signin button[id="on_modal"] {
    width: 100%;
}

.form-signin input[type="email"] {
    margin-bottom: -1px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}

.form-signin input[type="text"] {
    margin-bottom: -1px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}

.form-signin input[type="password"] {
    margin-bottom: 10px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}
/*.form-signin input:invalid{
    border: 1px solid red;
}
.form-signin input[type="password"]:invalid{
    border: 1px solid red;
}*/

.alertdiv {
    margin: 0;
    padding: 0;
}

.alert1 {
    margin:auto;
    /*width: 30%;*/
    /*height: 60%;*/
    text-align: center;
}

.form-signin .buttons {
    width: 100%;
    height: 50px;
}
.form-signin .close1{
    float: right;
}

.container_header{
    margin-top: 0px;
    padding-top: 0;
}

.logged{
    text-align: center;
    color: #cccccc;
    float: left;
    padding: 10px;
    margin-left: 30%;

}
