<!DOCTYPE html>
<html lang="en" ng-app="manager" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout">
<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <meta name="author" content="Vladimir Karpov"/>
    <title>Spring Boot Web Application</title>
    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css"
          integrity="sha512-dTfge/zgoMYpP7QbHy4gWMEGsbsdZeCXz7irItjcC3sPUFtf0kuFbDz/ixG7ArTxmDjLXDmezHubeNikyKGVyQ=="
          crossorigin="anonymous"/>
    <link type="text/css" th:href="@{/css/signin.css}" rel="stylesheet"/>
    <link th:href="@{/css/sticky-footer-navbar.css}" rel="stylesheet"/>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>

</head>

<body>
<!-- Fixed navbar -->
<!--<nav class="navbar navbar-default navbar-fixed-top">-->
<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span> <span class="icon-bar"></span>
                <span class="icon-bar"></span> <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/data/get"><span class="glyphicon glyphicon-home" ></span> Home</a>

        </div>
        <div class="navbar-collapse collapse">
            <div class="logged" th:if="${g_user}">
                Now logged: <span th:text="${g_user.email}"></span>
            </div>
            <ul class="nav navbar-nav navbar-right">
                <li><a th:href="@{/user/reset-password}" href="reset"> <span class="glyphicon glyphicon-refresh"></span>Reset Password</a></li>
                <li><a th:href="@{/user/register}" href="register"> <span class="glyphicon glyphicon-user"></span>Sign up</a></li>
                <li><a th:href="@{/login}" href="/login"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
                <li><a th:href="@{/logout}" href="/logout"><span class="glyphicon glyphicon-log-out"></span> Logout</a></li>
            </ul>
        </div>
    </div>
</nav>

<div class="container">
        <div layout:fragment="content"></div>
</div>
<!-- /.container -->
<footer class="footer">
    <div class="container">
        <p class="text-muted">Developed by Karpov Vladimir, 2016 </p>
    </div>
</footer>

</body>

</html>
